
.logo {
	max-width: 150px;
	font-size: 22px;
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-shadow: 1px 1px 1px rgba(3,31,210,0.7);
	}
}



