.sorting {
    position: relative;
    padding-left: 15px;
    padding-bottom: 20px;
}


.sortingHolder {
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 3;
    padding: 0 15px;
    width: 66vw;
    max-width: 1150px;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.orientation {
    padding: 0 10px;
    flex-direction: column;
    display: flex;
}
